{% extends "base.html" %}
{% block results %}
<section class="module parallax parallax-10">
  <div class="container">
  </div>
</section>

<section class="module content">
	<div class="container">
	<h1>Celebrities on social media</h1>
<h3 class="subheading">
	Our users fell into two main categories: lamas, and other celebrities including film-makers and music artists. These celebrities were all located in urban places, and had between 1,080 (a musician, &#27901;&#26106;&#25289;&#22982;&#30340;&#38081;&#26438;&#31881;&#19997;) and 12,532,516 followers (a lama, &#21152;&#25514;&#27963;&#20315;). The celebrities with the highest and lowest number of followers were both based in Lhasa. Most celebrities come from younger generations, and seek out followers from their own generation; Weibo use represents a cutting-edge, trendy method of representing celebrities' images and accumulating fans. 
</h3>
</div>
</section>
<section class="module content">
	<div class="container">
	
<h3 class="subheading">
Further research is needed to understand the most common topics about which that Tibetan celebrities blog, and the demographics of their followers. This information could help us to explore further questions, including:
</h3>

<h3 class="subheading">
To what extent do Tibetan celebrities embrace Weibo as a "third-space" for reimagining Tibetan identity? And, to what extent do they reproduce tropes about Tibetan religion and culture encouraged by the Chinese state?
</h3>

<h3 class="subheading">
How do users search for or find content that may be considered subversive? How is this content reformed through Weibo's platforms?
</h3>

<h3 class="subheading">
What ethnic and linguistic groups primarily follow Tibetan celebrities?
</h3>
	</div>
</section>
{% endblock %}
