{% extends "base.html" %}
{% block results %}
<section class="module parallax parallax-4">
  <div class="container">
    <h1>Tibet</h1>
  </div>
</section>
<section class="content module">
<div class="container">
<img border="0" src="../static/img/celeb1.jpg" width="280" height="201">
<img border="0" src="../static/img/celeb1again.jpg" width="102" height="98">
<h3 class="subheading">&#20061;&#21619;&#23433;&#31070;&#33590; : He lives in the Europe, and famous for posting a travel picture with a puppet known as Abu Ciren.
</h3>
</div>
</section>

<section class="content module">
<div class="container">
<img border="0" src="../static/img/celeb2.jpg" width="298" height="194">
<h3 class="subheading">
&#24503;&#21513;&#32769;&#29239; T: He is a singer, who was famous for Tibetan Rap, his representative work is A pa la(Father).
</h3>
</div>
</section>

<section class="content module">
<div class="container">
<img border="0" src="../static/img/celeb3.jpg" width="244" height="162">
<h3 class="subheading">
&#32650;&#20804;: He is a teacher of Chushu middle school at Lhasa, graduated from Beijing Teacher University. He is most famous among Tibetan young generation.
</h3>
</div>
</section>


<section class="content module">
<div class="container">
<img border="0" src="../static/img/celeb4.jpg" width="244" height="213">

<img border="0" src="../static/img/imgres.jpg" width="189" height="267">
<h3 class="subheading">&#21152;&#25514;&#27963;&#20315;</h3> 
<h3 class="subheading">One of the most popular lamas on weibo</h3>
<h3 class="subheading">
&#21152;&#25514;&#27963;&#20315;: Gyaltso Tulku’s Weibo has 12675718 followers , he is cofounder of Compassion NGO, and he is the Tulku of Draga monastery at the Nyachukha of Kham. He published his first book Everything is the best arrangement in 2014.</h3>
</div>
</section>

<section class="content module">
<div class="container">
<img border="0" src="../static/img/celeb5.jpg" width="298" height="212">
<img border="0" src="../static/img/celeb5again.jpg" width="101" height="132">
<h3 class="subheading">
&#22810;&#35782;&#20161;&#27874;&#20999;: Dorshi Renpoche is professor of Minzu university of Northwest, he published a lot of books and had a large influence in both Tibetan and China, such as The Wisdom Of Compassion.
</h3>
</div>
</section>

<section class="content module">
<div class="container">
<img border="0" src="../static/img/celeb6.jpg" width="253" height="165">
<h3 class="subheading">

&#39321;&#21608; 007: He is a teacher of Chushu middle school at Lhasa, graduated from Beijing Teacher University. He is most famous among Tibetan young generation.
</h3>
</div>
</section>
{% endblock %}
