{% extends "base.html" %}
{% block results %}

<section class="module parallax parallax-13">
  <div class="container">
	<h1></h1>
  </div>
</section>
<div class="container">
<iframe id="forum_embed"
 src="javascript:void(0)"
 scrolling="no"
 frameborder="0"
 width="900"
 height="700">
</iframe>

<script type="text/javascript">
 document.getElementById("forum_embed").src =
  "https://groups.google.com/forum/embed/?place=forum/tibetsocialmedia" +
  "&showsearch=true&showpopout=true&parenturl=" +
  encodeURIComponent(window.location.href);
</script>
</div>
{% endblock %}
