{% extends "base.html" %}
<!-- hello.html -->
<!--{% block video %}


<div>
<embed src="../static/img/PSMGlobeAnimation-HD.mp4" width="1280" height="720" allowfullscreen="true" />


	<section class="module parallax parallax-14">
<h1>hello word </h1>
	</section>

</div>

{% endblock %} -->

{% block results %}
<div id="about">
{% if info %}
	{% for heading in info['headings'] %}
		{% if heading['title'] == 'home' %}
	<!--		<h2 class="page_heading">local histories in tibet</h2> -->
<!--<section class="module content">
	<div class="container">
		<embed src="../static/img/PSMGlobeAnimation-HD.mp4" width="100%" height="720" allowfullscreen="true" /> 

loop="true" autoplay="true" playbar="false" volume="false"/> 
	</div>
</section> -->

	<!--<section class="module parallax parallax-14">
	<div class="container">
	<h1>hi</h1>
	</div>
	</section>-->



<iframe src="https://player.vimeo.com/video/100408466?autoplay=1&loop=1&title=0&byline=0&portrait=0" width="100%" height="574" frameborder="0" playbar="false" volume="false" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<!--<iframe src="https://player.vimeo.com/video/22363688?autoplay=1&loop=1&color=d4d4d4&title=0&byline=0&portrait=0" width="100%" height="720" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->

<!--<iframe src="https://player.vimeo.com/video/22363688?color=d4d4d4&title=0&byline=0&portrait=0" width="100%" height="720" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/22363688">TRON GFX Rectifier Globe</a> from <a href="https://vimeo.com/gmunk">GMUNK</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->

<h1>Tibet Independent Study</h1>

<section class="module content"> 
<div class="large-6 columns">
<a href="#maps" class="button expand">See Data Maps</a> 
<a href="#about" class="button expand">See Other Media Sources</a>
</div>
</section>
<section class="module content">
</section>



		{% endif %}
	{% endfor %}
{% else %}
	<p> error in loading page </p>
{% endif %}
</div>

{% endblock %}
