{% extends "base.html" %}
{% block results %}

<div id="about">
{% if info %}
	{% for heading in info['headings'] %}
		{% if heading['title'] == 'languages' %}


		
  <div class="container">
<h2 class="page_heading">maps for tibet</h2>
</div>

<!-- <section class="module parallax parallax-4">
  <div class="container">
<h2 class="page_heading">languages used by different celebrities</h2>
</div>
</section> -->

<section class="module content">
	<div class="container">
<h1>Tweets about Tibet around the World</h1>

<h3>Map of Twitter Data Related to Tibet</h3>


<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/f1464116-1aeb-11e6-8eb0-0e3ff518bd15/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</div>

<!--<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/f1464116-1aeb-11e6-8eb0-0e3ff518bd15/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> -->
<div class="container">
<p>Social media is an incredible vehicle for communication across cities, countries and even continents. Different social media platforms have become increasingly popular as a means of sharing culture and beliefs. The map above displays tweets around the world relating to Tibet over the last month. These tweets were aggregated to analyze. Using machine learning these tweets were processed to understand the natural language and use statistical parsers to detect the sentiment of the tweets. In order to detect the sentiment of the tweets, the sequence, pattern and existnence of words was analyzed and compared to an existing database of annotated text that is labled and positive and negative. These tweets are displayed on a map to examine patterns and behavior related to their locations</p>
</div>
</section>


<!--TODO: INSERT IMAGE -->



<!--TODO: INSER TIMGE -->

<section class="module content">
	<div class="container">
<h3>Map of Tibetan Monasteries</h3>

<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/01fbd97e-1afd-11e6-826a-0ecfd53eb7d3/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</div>

<!--<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/01fbd97e-1afd-11e6-826a-0ecfd53eb7d3/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>-->
<div class="container">
<p>This is an extension of the map included on this site: <a href="mappingtibet.co"> click here</a>. I mapped the remaining locations to display the sites on a map with locations</p> 
<p> Above you can see a map that represents the distribution of Tibetan religious sites collected by Intro to East Asian Civilizations: Tibet from Fall 2015.</p>

</div>
</section>



<h3>Overlap of Tibetan Monastery Locations and Tweets about Tibet</h3>
<section class="module content">
	<div class="container">
<!--<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/2c56e8f6-1afa-11e6-ab5b-0e787de82d45/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> -->

<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/67512e22-1bb7-11e6-a817-0e3ff518bd15/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</div>
<!--<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/67512e22-1bb7-11e6-a817-0e3ff518bd15/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>-->

<div class="container">
<p> Here is a map that overlays the locations of Tibetan monasteries with Tweets related to Tibet</p>
</div>
</section>


<section class="module content">
	<!--<div class="container"> -->


<!--	<h3>Map for cardodb</h3>	
	


<h1>Tibet Social Media</h1>  
<h1>FIX THIS MAP!</h1>	

<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/01fbd97e-1afd-11e6-826a-0ecfd53eb7d3/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> -->






<div class="row">
	<div class="large-14 columns">
<a class="twitter-timeline" href="https://twitter.com/hashtag/Tibet" data-widget-id="732066953532166144" width="100%" height="600">#Tibet Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<!-- <div class="large-6 columns">
<h3>Here we can view live updates for tweets related to Tibet</h3>
</div> -->


</section>






		{% endif %}
	{% endfor %}
{% else %}
	<p> error in loading page </p>
{% endif %}
</div>

{% endblock %}
