{% extends "base.html" %}
{% block results %}
<h1>This is the langaues of different celebrities</h1>

<div>
    <a href="https://plot.ly/~cld2164/8/" target="_blank" title="Language Used by All Users" style="display: block; text-align: center;"><img src="https://plot.ly/~cld2164/8.png" alt="Language Used by All Users" style="max-width: 100%;width: 1175px;"  width="1175" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="cld2164:8"  src="https://plot.ly/embed.js" async></script>
</div>

{% endblock %}
