{% extends "base.html" %}
{% block results %}

<section class="module content">
	<div class="container">
	<h1>Tweets about Tibet around the World</h1>

<h2>Map of Twitter Data Related to Tibet</h2>


<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/f1464116-1aeb-11e6-8eb0-0e3ff518bd15/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>


<!--<h2>Map of Twitter Data Related to Tibet</h2>
<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/f1464116-1aeb-11e6-8eb0-0e3ff518bd15/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> -->

<p>Social media is an incredible vehicle for communication across cities, countries and even continents. Different social media platforms have become increasingly popular as a means of sharing culture and beliefs. The map above displays tweets around the world relating to Tibet over the last month. These tweets were aggregated to analyze. Using machine learning these tweets were processed to understand the natural language and use statistical parsers to detect the sentiment of the tweets. In order to detect the sentiment of the tweets, the sequence, pattern and existnence of words was analyzed and compared to an existing database of annotated text that is labled and positive and negative. These tweets are displayed on a map to examine patterns and behavior related to their locations</p>


</div>
</section>

<section class="module content">
	<div class="container">
<h2>Map of Tibetan Monestaries</h2>
<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/01fbd97e-1afd-11e6-826a-0ecfd53eb7d3/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<p>This is an extension of the map included on this site: <a href="mappingtibet.co"> click here</a>. I mapped the remaining locations to display the sites on a map with locations</p> 
<p> Above you can see a map that represents the distribution of Tibetan religious sites collected by Intro to East Asian Civilizations: Tibet from Fall 2015.</p>

</div>
</section>
<section class="module content">
	<div class="container">



<h2>Overlap of Tibetan Monestary Locations and Tweets about Tibet</h2>
<!--<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/2c56e8f6-1afa-11e6-ab5b-0e787de82d45/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> -->

<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/67512e22-1bb7-11e6-a817-0e3ff518bd15/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>



<!--<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/67512e22-1bb7-11e6-a817-0e3ff518bd15/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>-->
<p> Above is a map that overlays the locations of Tibetan monestaries with Tweets related to Tibet. This allows
us to examine the relationship between the locations of Tibetans in exile, or Tibetan Buddhists and the observe
some patterns in the sentiment with regards to Tibet.</p>



<h2>Overlap of Tibetan Monestary Locations and Tweet Sentiments about Tibet</h2>

<iframe width="100%" height="520" frameborder="0" src="https://srwiener.cartodb.com/viz/261a26c0-1bdf-11e6-96b4-0ecd1babdde5/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>



</div>
</section>
{% endblock %}
