{% extends "base.html" %}
{% block results %}

<section class="module parallax parallax-11">
  <div class="container">
  </div>
</section>

<section class="module content">
  <div class="container">
	<h2>References</h2>    
<p class="hangingindent">
	Chiu, Cindy, Chris Ip, and Ari Silverman
	2012. Understanding Social Media in China. McKinsey Quarterly.</p>
    <p class="hangingindent">
Collins, Gerald, Matthew Slover Durington, Glenn Daneils, et al.
2013. Tagging Culture: Building a Public Anthropology through Social Media. Human Organization 72(4): 358-368.
	</p>
	
    <p class="hangingindent">
Dijck, José van
2011. Tracing Twitter: The Rise of a Microblogging Platform. International Journal of Media & Cultural Politics 7(3): 333-348.
</p>

    <p class="hangingindent">
Fischer, Andrew M.
	2008. "Population Invasion" versus Urban Exclusion in the Tibetan Areas of Western China. Population and Development Review 34(4):631-662.
</p>

    <p class="hangingindent">
Helland, Christopher
2014. Virtual Tibet: Maintaining Identity through Internet Networks. In The Pixel in the Lotus: Buddhism, the Internet, and Digital Media. Gregory Grieve and Danielle Veidlinger, eds. Pp. 155-172. New York: Routledge.
</p>

    <p class="hangingindent">
Hu Yong, Fang Kun, Liu Yang, et al.
2012. Mapping Digital Media: China. Open Society Foundation.
</p>

    <p class="hangingindent">
Kaiman, Jonathan
2013. Hack Tibet. Foreign Policy(203): 35-38.
</p>

    <p class="hangingindent">
Liu, Xun, Xinchuan Liu, and Ran Wei
2014. Maintaining Social Connectedness in a Fast-Changing World: Examining the Effects of Mobile Phone Uses on Loneliness among Teens in Tibet. Mobile Media & Communication 2(3): 318-334.
</p>

    <p class="hangingindent">
Mullaney, Thomas, and Benedict Anderson
2010. Coming to Terms with the Nation: Ethnic Classification in Modern China. Berkeley: University of California Press.
</p>

    <p class="hangingindent">
Ng, Jason Q.
2013. Blocked on Weibo: What Gets Suppressed on China's Version of Twitter. New York: The New Press.
</p>

    <p class="hangingindent">
Postill, John
2011. Localizing the Internet: An Anthropological Account. Oxford: Berghahn Books.
</p>

    <p class="hangingindent">
Rabgey, Tashi
2008. Newtibet.com: Citizenship as Agnecy in a Virtual Tibetan Public. In Tibetan Modernities. Robert Barnett and Ronald Schwartz, eds. Pp. 333-352. Leiden.
</p>

    <p class="hangingindent">
Sperling, Elliot
1994. The Rhetoric of Dissent: Tibetan Pampleteers. In Resistance and Reform in Tibet. Robert Barnett and Shirin Akiner, eds. Bloomington [IN]: Indiana University Press.
</p>

    <p class="hangingindent">
Sun, Wanning, and Jenny Chio
2012. Mapping Media in China: Region, Province, Locality. New York: Routledge.
</p>

    <p class="hangingindent">
Svensson, Marina
2014. Voice, Power and Connectivity in China's Microblogosphere: Digital Divides on SinaWeibo. China Information 28(2): 168-188.
</p>

    <p class="hangingindent">
Tournadre, Nicolas
2015. Le Developpement Des Languages et Les Nouvelle Technologies de La Communication: Le Miracle Tibetain. La Journée de Conférences Sur Tibet TIBET 1980-2014: 75-83.
</p>

    <p class="hangingindent">
Yu, Haiqing
2011. Media and Cultural Transformation in China. Reprint edition. London u.a.: Routledge.
</p>

    <p class="hangingindent">
Yu, Louis, Sitaram Asur, and Bernardo A. Huberman
2011. What Trends in Chinese Social Media. In . San Diego, CA.
</p>

    <p class="hangingindent">
Zhou, Minglang, and Hongkai Sun
2004. Language Policy in the People's Republic of China: Theory and Practice Since 1949. New York: Kluwer Academic Publishers.
</p>

</div>
</section>

<section class="module parallax parallax-9">
  <div class="container">
  </div>
</section>


{% endblock %}
